h5 {
    text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

h3 {
    text-align: center;
    text-decoration: underline;
    color: green;
}

.buttons {
    text-align: center;
    text-decoration: underline;
    color: red;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box1 {
    background-color: green;
    border: solid, 2px;
    border-width: medium;
    border-color: black;
    height: 75px;
    width: 75px;
    margin: auto;
}

.box2 {
    background-color: yellow;
    border: green, solid, 2px;
    border-style: dashed;
    height: 75px;
    width: 75px;
    margin: auto;
}

.box3 {
    background-color: black;
    border: solid, 2px;
    border-color: yellow;
    border-width: medium;
    height: 75px;
    width: 75px;
    margin: auto;
}

.grid-container {
    display: grid;
    justify-content: center;
}

.button1 {

}

.button2 {

}

.button3 {

}

.changeall {

}

.grid-container1 {
    display: grid;
    justify-content: center;
}

.button4 {

}

.button5 {

}

.button6 {

}

.hideall {

}

.grid-container2 {
    display: grid;
    justify-content: space-between;
}

.button7 {

}

.button8 {

}

