h1 {
    text-decoration: underline;
    text-align: center;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

.buttons {
    color: red;
    text-decoration: underline;
    text-align: center;
}

h3 {
    color: green;
    text-align: center;
    text-decoration: underline;
}