h5 {
    text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

h3 {
    text-align: center;
    text-decoration: underline;
    color: green;
}

.buttons {
    text-align: center;
    text-decoration: underline;
    color: red;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box1 {
    color: green;
    border: black, solid;
    height: 25px;
    width: 25px;
}

.box2 {
    color: yellow;
    border: green, solid;
    border-style: dashed;
    height: 25px;
    width: 25px;
}

.box3 {
    color: black;
    border: yellow, solid;
    height: 25px;
    width: 25px;
}
